.wraper {
    margin: 0 auto;
}

.menu {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.navbar-text {
    font-family: 'Viga', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
}

h5 {
    font-family: 'Viga', sans-serif;
}

.sub-title {
    font-size: 2em;
}

.icon {
    font-size: 2em;
    display: inline-block;
    margin-right: 0.2em;
    margin-left: 0.2em;
}